<mat-card class="cardPrincipal">
    <div [formGroup]="formNotice" >
      <mat-card-header class="title-card">
        <mat-card-title><h3>Cadastro de Avisos</h3></mat-card-title>
      </mat-card-header>
      <mat-card-content class="content">
        <br>
        <br>
        <hr style="margin-top: 4px;">
        <mat-form-field class="title">
          <input matInput formControlName="title" placeholder="Título" autocomplete="off">
        </mat-form-field>

        <mat-form-field class="title">
          <input matInput formControlName="description" placeholder="Descrição" autocomplete="off">
        </mat-form-field>

        <mat-form-field class="title">
          <input matInput formControlName="date_publish" placeholder="Data Publicação" autocomplete="off" >
        </mat-form-field>

        <mat-form-field class="title">
          <input matInput formControlName="date_viewed" placeholder="Data Visualização" autocomplete="off" >
        </mat-form-field>
      
      </mat-card-content>
      <mat-card-actions class="footer">
          <button mat-stroked-button (click)="back()">Cancelar</button>
          <button mat-raised-button color="primary" (click)="onSubmit()">{{actionEdit ? 'Editar' : 'Cadastrar'}} Aviso</button>
      </mat-card-actions>
    </div>
    
  </mat-card>
